{
  "name": "viewer-queue-webserver",
  "version": "1.0.0",
  "description": "",
  "main": "webserver.js",
  "type": "module",
  "scripts": {
    "dev": "nodemon dist/webserver.js",
    "build": "tsc -p .",
    "start": "node dist/webserver.js",
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": "coreyg142",
  "license": "ISC",
  "dependencies": {
    "cors": "^2.8.5",
    "dotenv": "^16.0.3",
    "express": "^4.18.2",
    "firebase-admin": "^11.5.0",
    "socket.io": "^4.6.1"
  },
  "devDependencies": {}
}
